<label for="menu-toggle" id="menu-toggle-icon">
  <div></div>
  <div></div>
  <div></div>
</label>
<input id="menu-toggle" name="menu-toggle" type="checkbox" />

<div id="sidebar">
  <div class="sticky-wrapper">
    <a href="/">
      <img src="/assets/img/rijk.png" alt="Rijk van Zanten" />
    </a>
    <nav>
      <ul>
        {% for item in site.data.nav.links %}
        <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
