* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-size: 12px;
  @media (min-width: 500px) { font-size: 14px }
  @media (min-width: 700px) { font-size: 16px }
  @media (min-width: 900px) { font-size: 18px }
}

body {
  background-color: $dark-blue;
  color: $white;
}

img {
  max-width: 100%;
}
