.wrapper {
  display: flex;
  padding: 3rem 4rem;
}

#content {
  padding-right: 2rem;
  padding-top: 2rem;
  overflow: hidden;
  flex-grow: 1;
}

#sidebar {
  padding-left: 2rem;
  border-left: 1px dashed $blue;
  flex-basis: 20vw;
  flex-shrink: 0;
}
