.wrapper {
  display: flex;
  padding: 4rem;
}

#content {
  padding-right: 2rem;
  padding-top: 2rem;
  overflow: hidden;
  flex-grow: 1;

  @media screen and (max-width: 500px) {
    padding-right: 0;
  }
}

#sidebar {
  padding-left: 2rem;
  border-left: 1px dashed $blue;
  flex-basis: 20vw;
  flex-shrink: 0;

  @media screen and (max-width: 500px) {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    transform: translateX(100%);
    background-color: $dark-blue;
    transition: 300ms ease-out;
    transition-properties: transform, box-shadow;
  }
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked + #sidebar {
  transform: translateX(0%);
  box-shadow: -25px 0 25px $darker-blue;
}

#menu-toggle:checked {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#menu-toggle-icon {
  width: 36px;
  height: 36px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 2rem;
  right: 2rem;

  div {
    width: 100%;
    height: 2px;
    background-color: $white;
  }

  @media screen and (max-width: 500px) {
    display: flex;
  }
}
