.wrapper {
  display: flex;
  padding: 5rem 20rem;
  max-width: 1020px;
  margin: 0 auto;
}

#sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding-left: 2rem;
  border-left: 1px dashed $blue;
  flex-basis: 15rem;
  width: 15rem;
}

#content {
  padding-right: 2rem;
  flex-grow: 1;
}
