#sidebar {
  .sticky-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  img {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &:hover {
      transform: rotate(15deg);
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 10px 0;

    a {
      color: $white;

      &:hover {
        color: $blue;
      }
    }
  }
}
