$red: #e82e21;
$white: #fff;
$black: #000;
$dark-gray: #332525;
$gray: #878080;
$light-gray: #e2dada;

$font-stack-display: "Neue Display", "Neue", "Arial Black", "Arial", sans-serif;
$font-stack: "Neue", "Arial", sans-serif;
