:root {
	--syntax-background: transparent;
	--syntax-foreground: var(--color-fg);
	--syntax-muted: #6a737d;
	--syntax-red: #b31d28;
	--syntax-orange: #e36209;
	--syntax-green: #22863a;
	--syntax-blue: #005cc5;
	--syntax-purple: #6f42c1;
	--syntax-inverse: #fafbfc;
	--syntax-highlight: #f6f8fa;
	--syntax-deleted: #ffeef0;
	--syntax-inserted: #f0fff4;
	--syntax-changed: #ffebda;
}

@media (prefers-color-scheme: dark) {
	:root {
		--syntax-muted: #768390;
		--syntax-red: #ff938a;
		--syntax-orange: #f69d50;
		--syntax-green: #8ddb8c;
		--syntax-blue: #6cb6ff;
		--syntax-purple: #dcbdfb;
		--syntax-highlight: #636e7b1a;
		--syntax-deleted: #5d0f12;
		--syntax-inserted: #113417;
		--syntax-changed: #682d0f;
	}
}

.z-code {
	color: var(--syntax-foreground);
	background-color: var(--syntax-background);
}

.z-hl {
	background-color: var(--syntax-highlight);
}

.giallo-ln,
.z-4,
.z-5 {
	color: var(--syntax-muted);
}

.z-7,
.z-8 {
	color: var(--syntax-red);
}

.z-1 {
	color: var(--syntax-blue);
}

.z-6 {
	color: var(--syntax-purple);
}

.z-2,
.z-3 {
	color: var(--syntax-green);
}

.z-9 {
	color: var(--syntax-orange);
}

.z-10,
.z-11 {
	color: var(--syntax-inverse);
}

.z-bg1 {
	background-color: var(--syntax-blue);
}

.z-bg2 {
	background-color: var(--syntax-red);
}

.z-bg3 {
	background-color: var(--syntax-inserted);
}

.z-bg4 {
	background-color: var(--syntax-changed);
}

.z-bg5 {
	background-color: var(--syntax-deleted);
}

.z-b {
	font-weight: 700;
}

.z-i {
	font-style: italic;
}

.z-u {
	text-decoration: underline;
}

.z-s {
	text-decoration: line-through;
}

.z-us {
	text-decoration: underline line-through;
}

.z-fr {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
