<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Rijk's Website</title>
	<link rel="stylesheet" href="/main.css" />
	<link rel="stylesheet" href="/syntax-highlighting.css" />
	<script defer src="/polyfill.js"></script>
</head>

<body>
	{% include "partials/navigation.html" %}

	<main id="content">
		{% block content %} {% endblock content %}
	</main>

	<footer>Copyright &copy; 2026 Rijk van Zanten</footer>
</body>

</html>
